#!/usr/bin/env ruby
# frozen_string_literal: true

require "nanoc-webpack"

buildenv = ENV["buildenv"] || "development"
Nanoc::Webpack.default_argv.concat ["--config", "webpack.#{buildenv}.js"]

def require_rules(rules, locals = {}, target = binding)
  locals.each { target.local_variable_set(_1, _2) }
  path = File.join(Dir.getwd, rules)
  target.eval(
    if File.readable?(path)
      File.read(path)
    elsif File.readable?("#{path}.rb")
      File.read("#{path}.rb")
    elsif File.readable?("#{path}.rules")
      File.read("#{path}.rules")
    else
      raise LoadError, "#{path} is not readable"
    end
  )
end

require_rules "nanoc/rules/assets"
require_rules "nanoc/rules/react"

compile("/**/*") { write(nil) }
layout "/**/*", :erb
