<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>20</title>
    <link rel="icon" href="/favicon.svg"/>
  </head>
  <body>
    <div class="w-full wrapper font-sans react-app"></div>
    <script src="<%= mainjs %>"></script>
  </body>
</html>
