@import "fonts";
@import "colors";
@import "global";
@import "tail";

html, html body {
  height: 100%;
  font-size: medium;
}

body {
  font-family: Noto Sans Regular;
  font-weight: normal;
}

.hover-bg-secondary {
  &:hover {
    @extend .no-underline;
    @extend .rounded;
    @extend .bg-secondary;
    @extend .text-primary;
    a, span {
      @extend .text-primary;
      @extend .no-underline;
    }
  }
}

.active-item {
  @extend .no-underline;
  @extend .rounded;
  @extend .bg-secondary;
  @extend .text-primary;
  a {
    @extend .text-primary;
    @extend .no-underline;
  }
}

.inactive-item {
  @extend .text-accent;
  a {
    @extend .text-accent;
    @extend .bg-primary;
    @extend .no-underline;
    @extend .hover-bg-secondary;
  }
}

form {
  textarea {
    height: 75%;
    border: none;
    outline: none;
    resize: none;
  }
}

.markdown {
  ul {
    all:unset;
    li {
      margin-left: 20px;
    }
  }

  p {
    padding: 0px;
    margin: 7px 0 7px 0;
  }

  code {
    color: #4078c0;
    background-color: #f6f8fa;
    border: 1px solid #e1e4e8;
    padding: 2px 4px;
    border-radius: 3px;
  }

  h1, h2, h3, h4, h5, h6, h7 {
    all: unset;
    display: block;
    padding: 0px !important;
    margin: 10px 0 7px 0 !important;
    font-weight: bold;

  }
}
