<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>20</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="icon" href="/favicon.svg"/>
  </head>
  <body>
    <div class="react-root w-full wrapper"></div>
    <script src="<%= src %>"></script>
  </body>
</html>
