@font-face {
  font-family: "Noto Sans Regular";
  src: url("/fonts/noto-sans-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans Mono Regular";
  src: url("/fonts/noto-sans-mono-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Serif Regular";
  src: url("/fonts/noto-serif-regular.ttf") format("truetype");
}
