body .wrapper {
  a {
    @import "colors";
    color: $accent-color;
    &:hover,
    &:active,
    &:visited {
      color: $accent-color;
      text-decoration: none;
    }
  }
  ul {
    margin: 0;
    padding: 0;
  }
}
