body .wrapper .group {
  @import "colors";
  width: 100%;
  margin-bottom: 10px;

  .group-name {
    margin: 10px 0 10px 0;
    padding: 10px;
    background: $secondary-color;
    color: $primary-color;
    font-size: small;
    border-radius: 5px;

    ul.tabs {
      list-style-type: none;
      display: flex;
      grid-gap: 15px;

      li.tab {
        a {
          display: block;
          background: $primary-color;
          color: $accent-color;
          padding: 5px;
          border-radius: 5px;
          &:focus {
            text-decoration: none;
          }
        }
      }
      li.tab.active {
        a {
          text-decoration: underline;
        }
      }
    }
  }

  .group-items {
    min-height: 75px;

    p {
      padding-top: 2.5%;
      font-size: small;
    }

    ul.items {
      li.item {
        display: flex;
        padding: 7.5px;
        border: 1px solid $primary-color;

        select {
          height: 35px;
          padding: 10px;
          background: $primary-color;
          font-size: smaller;
        }

        &:hover {
          background: $secondary-color;
          color: $primary-color;
          border-radius: 10px;
          border: 1px solid $secondary-color;

          a {
            color: $primary-color;
            text-decoration: none;
            .subtitle {
              color: $primary-color;
              text-decoration: none;
            }
          }
        }

        a {
          display: flex;
          flex-direction: column;
          height: 50px;
          justify-content: space-between;
          padding: 10px 10px 5px 0px;

          .title {
            display: flex;
            padding-bottom: 5px;
            font-size: smaller;
          }

          .subtitle {
            font-size: small;
            color: $secondary-color;
          }
        }

        .tags {
          .tag {
            color: $primary-color;
            border: 1px solid $secondary-color;
            border-radius: 5px;
            font-size: small;
            font-weight: bold;
          }
        }
      }
    }
  }
}
