ul.items {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li.item {
    &:hover {
      background: $gray1;
      border-radius: 10px;
      cursor: pointer;
    }
    display: flex;
    border-bottom: 1px solid $gray1;
    padding: 10px;
    flex-wrap: wrap;
    .top, .bottom {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .actions {
        display: flex;
        grid-gap: 5px;
      }
     }
    .top {
      a {
        $blue: #008cff;
        color: darken($blue, 10%);
        &:active, &:visited, &:link, &:hover {
          color: darken($blue, 10%);
          text-decoration: none;
        }
      }
    }
    .bottom {
      margin: 10px 0 0 0;
      font-size: small;
    }
  }
  li.item.removed {
    animation: bounceOutDown;
    animation-duration: 0.5s;
  }
  li.item.completed {
    animation: bounceOutUp;
    animation-duration: 0.5s;
  }
}
