.two-columns {
  display: flex;
  flex-direction: space-between;

  .column-1 {
    width: 20%;
  }
  .column-2 {
    width: 100%;
  }
}

.max-width {
  width: 75%;
  max-width: 1024px;
}

.align-center {
  margin: 0 auto;
}
