ul.items {
  @import "colors";
  margin: 0;
  padding: 0;
  list-style-type: none;

  li.item:first-child {
    a {
      border-top: 1px solid #FFF;
    }
  }

  li.item {
    display: flex;
    flex-wrap: wrap;
    a {
      display: flex;
      flex-direction: column;
      height: 60px;
      justify-content: space-between;
      $blue: #008cff;
      color: $blue;
      padding: 10px 10px 5px 10px;
      border-radius: 10px;
      border: 1px solid #FFF;
      border-top: 1px solid $gray1;

      &:hover {
        background: $gray1;
        border: 1px solid $gray3;
        cursor: pointer;
        text-decoration: none;
        color: $blue;
      }

      span {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
      }
      span.date, span.path {
        font-size: small;
        color: $black;
      }
    }
    ul.actions {
      list-style-type: none;
      width: 5%;
      display: flex;
      place-content: flex-end;
      li {
        display: flex;
        align-items: center;
      }
    }
  }
  li.item.removed {
    animation: bounceOutDown;
    animation-duration: 0.5s;
  }
  li.item.completed {
    animation: bounceOutUp;
    animation-duration: 0.5s;
  }
}

ul.items.projects {
  li.item {
    a {
      width: 100%;
    }
  }
}

ul.items.tasks {
  li.item {
    a {
      width: 95%;
    }
  }
}
