/**
 -----------------
 | ul.collection |
 -----------------
**/

ul.collection {
  h1 {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    background: $primary-color;
    color: $secondary-color;
    height: 25px;
    width: 100%;
    font-size: medium;
  }
}

ul.collection li.item {
  display: flex;
  flex-wrap: wrap;
  height: 85px;

  a {
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-between;
    padding: 10px 10px 5px 0px;
    .title {
      display: flex;
      padding-bottom: 5px;
      font-size: smaller;
    }

    .subtitle {
      font-size: small;
      color: $secondary-color;
      .tag {
        padding: 2.5px;
        color: $primary-color;
        border: 1px solid $secondary-color;
        border-radius: 5px;
        font-size: small;
        font-weight: bold;
      }
    }

    .break {
      display: flex;
      height: 10px;
      width: 100%;
    }
  }
  ul.actions {
    list-style-type: none;
    width: 5%;
    display: flex;
    place-content: flex-end;
    li {
      display: flex;
      align-items: center;
    }
  }
}

ul.collection li.item.removed {
  animation: bounceOutDown;
  animation-duration: 0.5s;
}

ul.collection li.item.completed {
  animation: bounceOutUp;
  animation-duration: 0.5s;
}

ul.items {
  @import "colors";
  margin: 0;
  padding: 0;
  list-style-type: none;


}

ul.items.nav {
  border: 1px solid $secondary-color;
  border-radius: 5px;
  background: $secondary-color;
  color: $primary-color;
  width: 85%;
  padding: 10px;

  h1 {
    height: unset;
    font-size: smaller;
    align-items: center;
    background: $secondary-color;
    color: $primary-color;
    margin-top: 10px;
  }
  h1:first-child {
    margin-top: unset;
  }

  li.item {
    padding: 5px;
    justify-content: space-between;
    background: $primary-color;
    color: $secondary-color;
    display: flex;
    align-items: center;
    font-size: smaller;
    height: 25px;
    a {
      display: inline;
      height: unset;
      padding: unset;
    }
  }
}

ul.items.projects {
  li.item {
    a {
      width: 100%;
    }
  }
}

ul.items.tasks {
  li.item {
    a {
      width: 95%;
    }
  }
}
