/**
 -----------------
 | ul.collection |
 -----------------
**/

ul {
  h1, h2 {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    background: $primary-color;
    color: $secondary-color;
    height: 25px;
    width: 100%;
  }
}


ul.items {
  @import "colors";
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.items.nav {
  border: 1px solid $secondary-color;
  border-radius: 5px;
  background: $secondary-color;
  color: $primary-color;
  width: 90%;
  padding: 10px;

  h1 {
    height: unset;
    align-items: center;
    background: $secondary-color;
    color: $primary-color;
    margin-top: 10px;
  }
  h1:first-child {
    margin-top: unset;
  }

  li.item {
    padding: 5px;
    justify-content: space-between;
    background: $primary-color;
    color: $secondary-color;
    display: flex;
    align-items: center;
    height: 25px;
    a {
      display: inline;
      height: unset;
      padding: unset;
    }
  }
}

ul.items.projects {
  li.item {
    a {
      width: 100%;
    }
  }
}

ul.items.tasks {
  li.item {
    a {
      width: 95%;
    }
  }
}
