@import "fonts";
@import "colors";
@import "pure";

html, html body, .pure-g {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

header, #reactapp {
  margin: 0 auto;
  color: $black;
  width: 75%;
  max-width: 1024px;
}

header {
  h1 {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: normal;
  }
  min-height: 64px;
}

form.new-issue {
  height: 100%;
  .pure-u-1-1 {
    display: flex;
    margin: 0 0 15px 0;

    .left {
      width: 20%;
      select { width: 100%; }
      margin: 0 1% 0 0;
    }
    .right {
      width: 75%;
      input, textarea { width: 100%; }
      textarea { height: 100%; }
    }
  }
  .pure-u-1-1.issue-content {
    height: 45%;
  }
}
