@import "fonts";
@import "colors";
@import "global";
@import "layout";
@import "groups";
@import "lists";

@import "vendor/forms";
@import "vendor/animations";

*, *:before, *:after {
  box-sizing: border-box;
}

html, html body, .wrapper {
  height: 100%;
  font-size: medium;
}

body {
  font-family: 'Courier new', serif;
  font-weight: normal;
}

.pt-20 { padding-top: 20px; }
.pb-20 { padding-bottom: 20px; }
.mb-20 { margin-bottom: 20px; }
.mb-50 { margin-bottom: 50px; }
.w-100 { width: 100%; }

.wrapper {
  color: $secondary-color;

  .react-mount {
    padding-top: 25px;
  }
  h1, h2, h3, h4, h5 {
    font-size: medium;
  }
}
