#!/usr/bin/env ruby
require "nanoc-webpack"
compile("/layouts/*") { write(nil) }
compile("/css/_*.scss") { write(nil) }
compile("/fonts/*.ttf") { write(item.identifier.to_s) }
compile("/css/main.scss") do
  filter(:sass, syntax: :scss)
  filter(:rainpress)
  write("/css/main.css")
end
compile("/js/index.tsx") do
  filter(:webpack)
  write("/js/index.js")
end
compile '/*.html.erb' do
  layout "/default.*"
  filter(:erb)
  write item.identifier.without_ext
end
layout '/**/*', :erb
